# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
out/
lib/
es/
esm/
*.tsbuildinfo

# Angular
.angular/

# Environment files
.env
.env.local
.env.*.local

# IDE / OS
.vscode/
.idea/
*.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/
.nyc_output/

# Misc
*.js.map
